@{
    ViewData["Title"] = "Что по чем";
}

@section ExtraStyles {
    <link rel="stylesheet" href="~/css/about_page.css" asp-append-version="true"/>
}

<div class="discription">
    <h1 class="display-6">Все как есть</h1>
    <p>
        Черные квадраты - это очень популярный шаблон для мемов который уже, чуть ли не стал классическим.
        Они представляют из себя картинку, расположенную внутри черного прямоугольника, который, по сути, является простой рамкой.
        А также текста, который является подписью и относится (хотя и не обязательно, вы ограничиваетесь только фантазией) к картинке.
    </p>

    <p>
        Сайт же, облегчает задачу создания такого мема - вместо того, чтобы открывать графический редактор и возиться с ним для такого просто дела вы просто
        через форму заполняете нужные поля в пару кликов и в тот же миг сайт предоставляет сгенерированное компьютером изображения!
    </p>

    <figure class="figure">
      <img src="https://krot.info/uploads/posts/2022-03/1646871889_1-krot-info-p-chernii-kvadrat-mem-smeshnie-foto-1.jpg" class="figure-img img-fluid rounded" width="400" height="400">
      <figcaption class="figure-caption">Рисунок 1 - Пример реализованного шаблона для создания картинки.</figcaption>
    </figure>

    <h1 class="display-6">Создать картинку</h1>
    <p>
        Нужно перейти на страницу создания мема (<a asp-action="Create" asp-controller="Home">тык</a>) и с интуитивно понятным интерфейсом создать свой мем.
        Если же вам нужен только шаблон, но скачать исходный прямоугольник можно <a href="~/images/meme_template.jpg">здесь</a>.
    </p>

    <h1 class="display-6">
        Обратная связь
    </h1>
    <p>Ничто не идеально. Этот сайт тоже. Поэтому, при любых проблемах связанных с данным интернет-ресурсом писать в ТГ: *****</p>

    <h1 class="display-6 dontate_section__h1 d-inline" id="donateSection">Поддержать проект</h1>
    <p>
        black-squares.ru - некоммерческий сайт на котором нет рекламных объявлений, поэтому его единственный разработчик не зарабатывает на нем, однако услуги его размещения в интернете - платные. Если
        вы желаете поддержать проект - вот ссылка на систему донатов: <a href="https://capu.st/black-squares.ru">https://capu.st/black-squares.ru</a>
    </p>
</div>
