@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">■ Черные прямоугольники ■</h1>
    <br />
    <p class="h5">
        Вы попали на сайт который посвящен черным прямоугольникам (иногда черным квадратам)
        внутри которых содержится некоторая картинка, а также пояснительный к ней текст. Подробнее о таком замечательном
        интернет явленни можно почитать <a asp-action="About" asp-controller="Home">тут</a>.
    </p>
    <br />
    <a asp-controller="Home" asp-action="Create">Создать мем</a>
</div>
