@{
    ViewData["Title"] = "Ничего не найдено";
}

<h1 class="display-6">Здесь ничего нет.</h1>
<p>Если вы считаете, что здесь что-то должно быть - сообщите об этом через обратную связь. Подробно об этом в <a asp-action="About" asp-controller="Home">общих сведениях</a>.</p>